@font-face {
    font-family: 'product-sans';
    src: url('./fonts/Product\ Sans\ Regular.ttf');
}

html {
    scroll-behavior: smooth;
  }
*{    
    color: rgb(19, 19, 19);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'product-sans';
}
body{
    background-color: beige;
}
.main{

}
/* HEADER*/
.header{
    scroll-margin-top: 80px; 
    gap: 10px;  
    /* margin: 10px; */
    top:0px;
    position: fixed;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    overflow-x: none;
    z-index: 999;
    backdrop-filter: blur(5px);
}

 .nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
}

.nav ul li:hover{
    /* gap: 10px; */
    color:rgb(8, 238, 238);
    transition: 0.2s    
}
a{
    text-decoration: none;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px
}
.resume-button{
    padding: 10px;
    border: inset 2px rgb(19, 19, 19);
    border-radius: 20px;
    background-color: rgb(19, 19, 19, 0);
    display: flex;
    width: 204.73px;
    
}
.icon{
    height: 30px;
    width:30px;
    object-fit: contain;
    color: white;
    
}
.linkedin-button{
    display: flex;
    padding: 10px;
    border: solid white;
    border-radius: 20px;
    background-color: rgb(6, 19, 134);
    display: flex;
    width: 150px;
    color: white;
    align-items: center;
    gap:20px;
    justify-content: space-around;
    cursor: pointer;
}

.linkedin-button:hover{
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s
}

.github-button{
    display: flex;
    padding: 10px;
    border: solid white;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 150px;
    color: white;
    align-items: center;
    gap:20px;
    justify-content: space-around;
    cursor: pointer;
}

.github-button:hover{
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s
}

.instagram-button{
    display: flex;
    padding: 10px;
    border: solid white;
    border-radius: 20px;
    /* background-color: ; */
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    display: flex;
    width: 160px;
    color: white;
    align-items: center;
    gap:20px;
    justify-content: space-around;
    cursor: pointer;
}


.instagram-button:hover{
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s
}
.contacts{
    display: flex;
    flex-direction: row;
    gap: 20px
}
.resume-button:hover{
    background-color:aqua;
    /* color: white;
    border: solid 2px white; */
    transition: 0.4s;
    cursor: pointer;
}

.download-icon {
    width: 20px;
}


/*INTRO PART*/
.intro{
display: flex;
gap: 50px;
margin:100px;
margin-bottom:50px;
justify-content: space-around;
align-items: center;
}
.intro-image{
    
}
.debanik-image{
    width: 400px;
    border: inset 1px rgba(0,0,0,0);
    border-radius: 1000px;
}

h1{
    color: rgb(8, 238, 238);
    font-size:100px;
}

h2{
    font-size: 50px;
}


/* SKILLS PARTT */
 
.skills{
    display: flex;
    gap: 50px;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.heading{
    margin-left: 100px;
    font-size: 30px;
    text-decoration: underline;
}
.skill-box{
border: 10px solid white;
background-color: white;
padding: 10px;
align-items: center;
width: 170px;
height: 170px;
transition: 0.5s;
}

.skill-box:hover{
    width: 190px;
    height: 190px;
    transition: 0.5s;
}

.skill-box img{
    height: 100px;
    width: 100px;
    object-fit: contain;
}

/*PROJECTS PART*/

.projects{
    margin: 100px;
    margin-top: 10px;
    gap:50px
}
.projects div{
    width: 400px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.projects div img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/*EXPERIENCE PART*/
.experience{
    display: flex;
    justify-content: center;
}
.line{
    display: flex;
    gap: 500px;
    background-color: black;
    width: 80%;
    height: 3px;
    margin-top: 100px;
    margin-bottom: 250px
}

.line .vertical-line{
    background-color: black;
    width: 2px;
    height: 200px;
}
.exp-desc{
    margin-top: 70px;
    margin-left: 20px;
    width: 300px
}

.date-range-exp{
    color: rgb(8, 238, 238);
    font-size: 22px;
}

.company-name-exp{
    font-size: 25px;
    
    width: 600px
}


.exp-logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
}