@font-face {
    font-family: 'product-sans';
    src: url('./fonts/Product\ Sans\ Regular.ttf');
}
*{    
    color: rgb(19, 19, 19);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'product-sans';
}
body{
    background-color: beige;
}
.main{

}
/* HEADER*/
.header{
    gap: 10px;  
    /* margin: 10px; */
    top:0px;
    position: fixed;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: white;
    overflow-x: none;
    z-index: 999;
}

 .nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
}

.nav ul li{
    /* gap: 10px; */

}
a{
    text-decoration: none;
}

.resume-button{
    padding: 10px;
    border: inset 2px rgb(19, 19, 19);
    border-radius: 20px;
    background-color: rgb(19, 19, 19, 0);
    display: flex;
}

.resume-button:hover{
    background-color:aqua;
    transition: 0.5s;
    cursor: pointer;
}

.download-icon {
    width: 20px;
}


/*INTRO PART*/
.intro{
display: flex;
gap: 50px;
margin:100px;
margin-bottom:50px;

justify-content: space-around;
align-items: center;
}
.intro-image{
    
}
.debanik-image{
    width: 400px;
    border: inset 1px rgba(0,0,0,0);
    border-radius: 1000px;
}

h1{
    color: rgb(8, 238, 238);
    font-size:100px;
}

h2{
    font-size: 50px;
}


/* SKILLS PARTT */
 
.skills{
    display: flex;
    gap: 50px;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.heading{
    margin-left: 100px;
    font-size: 30px;
    text-decoration: underline;
}
.skill-box{
border: 10px solid white;
background-color: white;
padding: 10px;
align-items: center;
width: 170px;
height: 170px;
transition: 0.5s;
}

.skill-box:hover{
    width: 190px;
    height: 190px;
    transition: 0.5s;
}

.skill-box img{
    height: 100px;
    width: 100px;
    object-fit: contain;
}