@font-face {
    font-family: 'product-sans';
    src: url('./fonts/Product\ Sans\ Regular.ttf');
}
*{    
    color: rgb(19, 19, 19);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'product-sans';
}
body{
    background-color: beige;
}
.main{

}

.header{
    gap: 10px;  
    /* margin: 10px; */
    top:0px;
    position: fixed;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: white;
    overflow-x: none;
}

 .nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
}

.nav ul li{
    /* gap: 10px; */

}
a{
    text-decoration: none;
}

.resume-button{
    padding: 10px;
    border: inset 2px rgb(19, 19, 19);
    border-radius: 20px;
    background-color: rgb(19, 19, 19, 0);
    display: flex;
}

.resume-button:hover{
    background-color:aqua;
    transition: 0.5s;
    cursor: pointer;
}

.download-icon {
    width: 20px;
}